---
---

@import "{{ site.theme }}";

nav {
	padding-right: 20px;
	margin-right: 10px;
    overflow-y: auto;
    height: 60vh; 
}

ol.exo li{
	
    margin-top: 10px;
}

ol.exo li:first-child {
    margin-top:0;
}

.highlight, .highlight .w {
  color: #e0e0e0;
}

code{
	color: #f7f7f7;
}